<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading" style="width: 100%;">
            <div class="page-title-icon">
                <i class="pe-7s-shield icon-gradient bg-ripe-malin">
                </i>
            </div>
            <div>{{ 'Role.Roles' | translate }}
                <div class="page-title-subheading">{{ 'Role.RoleTitle' | translate }}
                </div>
            </div>
        </div>   
    </div>
</div>   

<div class="row">
    <div class="col-md-8">
        <div class="tabs-animation">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    <i class="header-icon pe-7s-shield icon-gradient bg-love-kiss"> </i>
                    {{ 'Role.Roles' | translate }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <form class="">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">{{ "Form.LabelLabel" | translate }} </label>
                                            <input name="email" id="exampleEmail" placeholder="{{ 'Form.LabelField' | translate }}" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">{{ "Form.NameLabel" | translate }}</label>
                                            <input name="password" id="examplePassword" placeholder="{{ 'Form.NameField' | translate }}" type="text" class="form-control">
                                        </div>
                                        <div class="position-relative form-group">
                                            <label for="exampleText" class="">{{ "Form.DescriptionLabel" | translate }}</label>
                                            <textarea name="text" id="exampleText" class="form-control">

                                            </textarea>
                                        </div>
                                        <button class="mt-1 btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="tabs-animation">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    <i class="header-icon pe-7s-shield icon-gradient bg-love-kiss"> </i>
                    {{ 'Role.Roles' | translate }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <form class=""><input placeholder="lg" type="text" class="mb-2 form-control-lg form-control"><input placeholder="default" type="text" class="mb-2 form-control"><input placeholder="sm" type="text" class="mb-2 form-control-sm form-control">
                                        <div class="divider"></div>
                                        <select class="mb-2 form-control-lg form-control">
                                            <option>Large Select</option>
                                        </select><select class="mb-2 form-control">
                                            <option>Default Select</option>
                                        </select><select class="form-control-sm form-control">
                                            <option>Small Select</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>